body {

background-color: #dee6f0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;
text-align: left;
}

.espaco {
padding-top: 10px;
padding-bottom: 5px;
}

p {
margin-bottom: 1px;
margin-top: 1px;
}

.container {
margin: 0 auto;
width: 960px;
}

.containerfirst { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 60px;
}

.texto {
    max-width: 600px;
}

.texto h1 {
color: darkblue;
font-size: 40px;
margin-bottom: 20px;
}

.texto h2 {
color: darkblue;
font-size: 20px;
}

.imagemfirst img {
    width: 600px;
    height: auto;
}

.place {
background-color: #acd1a8;
border: 1px solid #CCC;
border-color: #CCC #999 #999 #CCC;
margin-bottom: 20px;
padding: 10px;
}

.place img {
border: 1px solid #acd1a8;
float: center;
margin: 10px 10px 0 0;
padding: 2px;
width: 400px;
height: 270px;
border-radius: 10px;
}

.clear {
clear: both;
}

.place h3 {
font-size: 20px;
color: rgb(0, 0, 0);
}
.place h4 {
font-size: 18px;
color: rgb(0, 0, 0);
}